REACT_APP_PAYPAL_CLIENT_ID=****************************************
REACT_APP_CLIENT_URL=https://url.com
REACT_APP_CHAT_SERVER_URL=https://url.com
REACT_APP_NOTIFICATION_SERVER_URL=https://url.com
REACT_APP_SERVICE_URL=https://url.com
REACT_APP_LEAD_URL=https://url.com
REACT_APP_FILE_SERVER_URL=https://url.com
REACT_APP_COMPANY_URL=https://url.com
REACT_APP_PAYMENT_URL=https://url.com
REACT_APP_EWAY_ACCESS_KEY=******************************************
REACT_APP_AUTH_URL=https://url.com
REACT_APP_EWAY_ACCESS_KEY=******************************************